@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

.heading,
.rental-details,
.property-info,
.property-description,
.description-block-wrap {
    display: row;
    align-items: stretch;
    flex-wrap: wrap; 
    margin-top: 2em;
}

.property-info-breakdown {
    gap: 1em;
}

.property-classfication {
    margin: 0;
    position: relative;
    text-transform: capitalize;
    align-self: start;
}

.rent-price {
    font-weight: 600;
    text-transform: capitalize;
}

.rent-unit {
    color: #717171;
    font-weight: normal;
    font-size: 0.95em;
}

.rent-breakdown,
.rent-price-unit-panel,
.property-info,
.description-block-wrap  {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping of elements */
}

.rent-breakdown {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    flex-basis: 100%; /* Take full width */
}

.property-info-breakdown,
.property-info {
    width: 100%;
}

.property-info-breakdown,
.description-block-wrap {
    justify-content: flex-start;
    gap: 1.3rem;
}

.property-address {
    align-self: start;
    position: relative;
    text-transform: capitalize;
    font-weight: normal;
    font-size: 0.95em;
    color: #1858d3;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.specs-grid {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-top: 1em;
    width: fit-content;
}

.specs-row {
    width: fit-content;
}

.icon-wrapper {
    display: flex;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center; 
    width: fit-content;
}

.icon {
    align-self: center;
    justify-self: center;
    height: 4rem;
    padding-left: 0.52em;
    width: auto;
    margin-bottom: 0.5em;
}

.facility-text {
  font-size: 0.7em;
  text-transform: capitalize;
  font-weight: normal;
  position: relative;
  align-self: center;
}

.description-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 100%;
    margin-top: 1.7em;
}

.description-title {
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
}

.description-text {
    align-self: flex-start;
    font-weight: 400;
    font-size: smaller;
    color: rgba(0, 0, 0, 0.7);
}

.description-text-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.25rem;
    max-width: 100%;
}

.line-block {
  width: 103%;
  margin-left: -0.3em;
  margin-top: 0.2em;
  margin-bottom: -0.3em;
}

.line {
  border: 0.15em, #595959;
}

.rental-details {
    gap: 2.313rem;
    color: #000;
}

.details-panel {
    box-sizing: border-box;
    text-align: start;
    font-size: 1.75rem;
    color: rgba(47, 47, 47, 0.76);
    font-family: Poppins;
} 
   