* {
    font-family: "Poppins";
}

#navbarNav {
    position: relative;
    font-size: 0.9em;
    font-weight: 500;
    margin-right: 2em;
}

.navbar-logo-container {
    margin-left: 1.5em;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding-block: 0.8em;
}

.nav-title {
    align-self: center;
    color: black;
    font-weight: 500;
    font-size: 1.5em;
}

.nav-link {
    margin-left: 50px;
    position: relative;
}

#navbarNav .nav-item.active .nav-link,
#navbarNav .nav-item .nav-link:focus {
    color: #0D9488;
}

#navbarNav .nav-item.active .nav-link::after,
#navbarNav .nav-item .nav-link:focus::after {
    content: '';
    width: 100%;
    height: 0.1875em;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #0D9488;
}

.nav-item .nav-link:hover {
    color: #0D9488;
}

.navbarContainer {
    border-bottom: 1px solid #e5e7eb;
}

.nav-green-button {
    background-color: #0D9488;
    margin-left: 2.5em;
    font-weight: 500;
    color: #FFFFFF;
    border: 2px;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
}

.nav-green-button:hover {
    background-color: #14B8A6;
    opacity: 0.7;
}

.nav-white-button {
    background-color: #ffffff;
    font-weight: 500;
    color: #000000;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 0.9em;
    padding: 10px 30px;
    cursor: pointer;
    text-decoration: none;
}

.nav-white-button:hover {
    background-color: #e7e7e7;
    opacity: 0.7;
}

/* Remove hover effect for disabled nav-green-button */
.nav-green-button[disabled],
.nav-green-button.disabled {
    pointer-events: none;
    opacity: 0.8;
}

.nav-green-button[disabled]:hover,
.nav-green-button.disabled:hover {
    background-color: #0D9488;
    opacity: 0.8;
}

/* Remove hover effect for disabled nav-white-button */
.nav-white-button[disabled],
.nav-white-button.disabled {
    pointer-events: none;
    opacity: 0.8;
}

.nav-white-button[disabled]:hover,
.nav-white-button.disabled:hover {
    background-color: #ffffff;
    opacity: 0.8;
}

@media (max-width: 991px) {
    .nav-link {
        margin-left: 20px;
    }

    #navbarNav .nav-item {
        padding-bottom: 1.5em;
    }
}