/* push main content to accommodate sidebar */
.app-with-sidebar {
  margin-left: 220px;
  transition: margin-left .2s ease;
}

@media (max-width: 767px) {
  .app-with-sidebar {
    margin-left: 0
  }
}