#register{
    padding: 0em 3.5em;
    padding-bottom: 5em;
    background-color: #FBF4E8;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%; 
    height: 100%;
}

#register .container{
    border: 2px solid black;
    background-color: #FFFFFF;
    border-radius: 25px;
    margin-left: -0.1em;
    height: fit-content;
}

#username, #email, #phonenumber, #password{
    border: 2px solid black;
    border-radius: 18px;
}

#register .form {
    position: relative; 
}

#register .displayErrorMessage {
    color: red;
    font-size: 13px;
    position: absolute;
    display: flex;
    align-items: flex-start;
    padding-left: 5.2em;
    padding-top: 0.2em;   
}

#register .col img{
    margin-top: 1.5em;
}

#register .col{
    display:flex;
    flex-direction: column;
    justify-content: start; 
    align-items: center;
    padding-top: 2em;
    margin-top: 1em;
    margin-left: -1.5em;
}

#register .rightCol{
    margin-top: -0.4em;
}

#register .registerTitleLandlord{
    color:  #FF5C00;
}

#register .registerTitleTenant{
    color: #575757;
}

#register-form{
    margin-left: -3.5em;
    width: 83%;
}

.form {
    padding-top: 2.8em;
}

.eye-icon {
    position: absolute;
    top: 4.15em;
    transform: translateY(-50%);
    cursor: pointer;
}

#registerButtonLandlord{
    background-color: #FF8C22;
    font-weight: 600;
    color: #F9F9F9;
    border: 2px;
    border-radius: 6px;
    font-size: 16.5px;
    padding: 11px 40px;
    margin-left: -1.4em;
    margin-top: 1.3em;
    cursor: pointer;
}

#registerButtonLandlord:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

#registerButtonTenant{
    background-color: #7C7C7C;
    font-weight: 600;
    color: #F9F9F9;
    border: 2px;
    border-radius: 6px;
    font-size: 16.5px;
    padding: 11px 40px;
    margin-left: -1.4em;
    margin-top: 1.3em;
    cursor: pointer;
}

#registerButtonTenant:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

#bottomDetails{
    align-content: center;
    width: 100%;
    margin-left: 2.5em;
    padding-bottom: 3.5em;
}

#bottomDetails .link{
    font-weight: bold;
    color: #FF8C22;
}

#haveAcc{
    margin-left: -2.7em;
    margin-top: 1.5em;
} 

#register .col input[type="text"],
#register .col input[type="email"],
#register .col input[type="tel"],
#register .col input[type="password"] {
    border-radius: 18px; /* Set border radius to match tenant form */
    border: 2px solid black; /* Set border color */
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 0.85em;
}