.contextDetails .signinContext {
    margin-top: 1.2em;
    font-size: 1.10em;
}

.card .landlord,
.card .tenant {
    margin-top: 2.5em;
    margin-bottom: 0.5em;
}

.card .cardtitle {
    font-size: xx-large;
    margin-block: 0.3em;
}

#signincontainer {
    padding: 0 3.5em;
    background-color: #FBF4E8;
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 100%; 
    height: 100%;
}

.signinsubTitle{
    color: #FF5C00;
    margin-bottom: 0.6em;
}

#signincontainer .subTitleDesc{
    color: #6F6F6F;
    font-weight: 600;
    font-size: 1.25em;
    margin-bottom: 40px;
}

#signincontainer .card{
    box-sizing: content-box;
    border: 2px solid black;
    padding: 0 50px;
    align-items: center;
}

#signincontainer h5{
    font-weight: bold;
}

#signincontainer .buttonLandlord{
    background-color: #FF8C22;
    font-weight: bold;
    color: #FFF6EA;
    border: 2px;
    border-radius: 6px;
    padding: 0.65em 1.2em;
    margin-block: 2em;
    margin-left: -3.6em;
    cursor: pointer;
}

.buttonLandlord:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

#signincontainer .buttonTenant{
    background-color: #7C7C7C;
    font-weight: bold;
    color: #FFF6EA;
    border: 2px;
    border-radius: 6px;
    padding: 0.65em 1.2em;
    margin-block: 2em;
    margin-left: -3.6em;
    cursor: pointer;
}

.buttonTenant:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

#signincontainer .col{
    margin-bottom: 6em;
}