*{
    font-family: 'Poppins';
}

#PropertyImage .container {
    position: relative; /* Required for absolute positioning */
    padding: 0;
    margin: 0;
}

.imageContainer {
    position: relative; /* Required for absolute positioning */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.propertyImage {
    width: 57.5%;
    height: auto;
}

.buttonContainer {
    position: absolute;
    top: 50%;
    left: 0;
    right: -15%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding-inline: 0.5em;
}

.previousButton,
.nextButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.previousButton:hover svg ellipse,
.nextButton:hover svg ellipse {
    fill: white;
    fill-opacity: 0.9;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

#propertyImage2 {
    padding-left: 1.3em;
}

#PropertyDetails .container,
#PropertyDetails {
    margin-top: 2em;
    width: 100%;
}

.applyButton {
    display: flex;
    justify-content: center;
}

.applyNowButton {
    background-color: #FF8C22;
    font-weight: bold;
    color: #FFF6EA;
    border: 2px;
    border-radius: 6px;
    padding: 0.65em 4.5em;
    margin-top: 3.125em;
    cursor: pointer;
    margin-bottom: 5em;
    font-size: larger;
}

.applyNowButton:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}
