
#footer_backgroundColor{
    background-color: #333F48;
    color: white;
    margin: 0;
    padding: 20px
}

.social_links_row{
    font-size: 1em;
    display: flex;
    justify-content: flex-end;
    column-gap: 2em;
    align-items: center;
    margin-right: 5em;
}

.social_links_row a {
    margin-right: 10px; 
    color: white;
}

.social_links_row a:last-child {
    margin-right: 0; 
}

.social_links_row svg {
    width: 2em; 
    height: 2em; 
}

.social_links_row h2{
    margin: -0px;
    font-size: 1em;
}

#footer_backgroundColor .nav-footer {
    display: flex;
    margin-bottom: 5em;
}

#footer_backgroundColor .nav_col1{
    margin-right: 5em;
}

#footer_backgroundColor .nav-footer a{
    text-decoration: none;
    list-style-type: none;
    color: white;
}

.footer_copyright{
    text-align: center;
}

.nav_col1 ul li,
.nav_col2 ul li {
    margin-bottom: 1em; 
}

.nav_col1 ul li {
    padding-left: 5em;
}