#navbarNav{
    position: relative;
    font-size: 1.1em;
    font-weight: 500;
}
.nav-link{
    margin-left: 50px;
    position: relative;
}

#navbarNav .nav-item .nav-link:focus{
    color: #FC8416;
}

#navbarNav .nav-item .nav-link:focus::after{
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #FC8416;
}

.nav-item .nav-link:hover {
    color: #FC8416;
}
