.instructionText{
    font-size: 21px;
    font-weight: 500;
    margin-left: 2.5em;
    position: absolute;
    transform: translateY(-138%);
}

.ApplyForm{
    position: relative;
    margin-left: 3.3em;
    padding-top: 2.25em;  
}

.ApplyForm h6 {
    margin-bottom: 1em; 
    color: black; 
    font-size: 18px;
    font-weight: 500;
}

.ApplyForm .row {
    margin-bottom: 3em; 
    display: flex; 
    justify-content: space-between; 
}

.ApplyForm .col {
    flex: 1; 
    margin-right: 10px; 
}

.ApplyForm.col:last-child {
    margin-right: 0; 
}

.ApplyForm input[type="text"],
.ApplyForm input[type="tel"],
.ApplyForm input[type="email"]{
    width: 80%;
    padding: 0.8em 1.2em 0.8em 1.2em;
    border: 1px solid black ;
    border-radius: 2px;
    margin-top: 0.2em;
}


.ApplyForm select.gender-dropdownlist{
    width: 45%;
    padding: 0.8em 1.2em 0.8em 1.2em;
    position: relative;
    border: 1px solid black ;
    border-radius: 2px;
    cursor: pointer;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../LandlordPOV/Rental_Icon/drop_down_arrow.png') no-repeat right 2em center;
    background-size: 0.85em;
    background-position: right 1em calc(50% - 2px);
}

#tenantImg{
    margin: 2%;
}
  
.row-checkbox {
    margin-left:3.3em;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.row-checkbox input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    cursor: pointer;
}

.row-checkbox label {
    margin-left: 1em; 
    justify-content: flex-start; 
    align-items: center;
}

#submitApplicationBtn {
    background-color: #FF8C22;
    font-weight: bold;
    color: #FFF6EA;
    border: 1em;
    border-radius: 0.5em;
    padding: 0.7em 2.8em;
    cursor: pointer;
    margin-top: 3.9em;
    margin-bottom: 2em;
    align-self: start;
}

#submitApplicationBtn:hover{
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}