@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins';
}

#PropertyImage .container {
    position: relative; /* Required for absolute positioning */
    padding: 0;
    margin: 0;
}

.imageContainer {
    position: relative; /* Required for absolute positioning */
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}

.propertyImage {
    width: 57.5%;
    height: auto;
}

.buttonContainer {
    position: absolute;
    top: 50%;
    left: 0;
    right: -15%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    padding-inline: 0.5em;
}

.previousButton,
.nextButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.previousButton:hover svg ellipse,
.nextButton:hover svg ellipse {
    fill: white;
    fill-opacity: 0.9;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

#propertyImage2 {
    padding-left: 1.3em;
}

#PropertyDetails .container {
    margin-top: 2em;
    width: 100%;
}

.applyButton {
    display: flex;
    justify-content: center;
}

.applyNowButton {
    background-color: #FF8C22;
    font-weight: bold;
    color: #FFF6EA;
    border: 2px;
    border-radius: 6px;
    padding: 0.65em 4.5em;
    margin-top: 3.125em;
    cursor: pointer;
    margin-bottom: 5em;
    font-size: larger;
}

.applyNowButton:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.8);
    opacity: 0.7;
}

#Comment {
    width: 100%;
    background-color: #F0F0F0;
    overflow-x: hidden;
}

.commentTitle {
    color: #FF5C00;;
    padding-top: 3em;
    margin-left: 3.3em;
    font-weight: 560;
    font-size: xx-large;
}

.comment-avg {
    margin-left: 5.8em;
    margin-top: 0.5em;
    font-size: large;
    margin-bottom: 2em;
}

.comment-grid,
.comments {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.comment-grid {
    width: 78.444rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.563rem;
}

.comments {
  width: 88.694rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 1.25rem 1.875rem;
  font-size: 1rem;
  margin-bottom: 5em;
  margin-top: 1.2em;
}