.rentalList_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    height: 100%; 
}

.property-actions {
    margin-bottom: auto; 
}

.history-listing {
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-left: 3em;
    margin-right: 3.8em;
    margin-bottom: 4em;
    display: flex;
    align-items: center;
    padding: 1em; 
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.468);
}

.rentalHistory-image img {
    width: 12em; 
    height: 11em;
    border-radius: 20px;
    margin-left: 1.4em;
    margin-right: 2.9em;
}

.rental_historyTitle{  
    font-weight: 600;
    text-decoration: underline;
    font-size: 24px;
    padding-bottom: 0.5em;
    line-height: 30px;
}

.descript_rental{
    color: rgba(47, 47, 47, 0.76);
    font-weight:500;
    font-size: 18px;
    line-height: 30px;
}

.descript_duration{
    font-weight:530;
    font-size: 17px;
    line-height: 30px;
    padding-bottom: 3em;
}

.rentalHistory-details {
    flex-grow: 1;
    padding-top: 2.6em;   
}

.history-listing.active .view-agreement-btn {
    background-color: #FF8C22;
    color: white;
    border: none;
    padding: 10px 45px;
    font-size: 20px;
    font-weight: 500;
    cursor: not-allowed;    
}

.history-listing.expired .expired-btn {
    background-color: #333F48;
    color: white;
    border: none;
    padding: 10px 45px;
    font-size: 20px;
    font-weight: 500;
    cursor: not-allowed; 
}

.contact-icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact-icons img,
.contact-icons svg {
    width: 24px; 
    height: 24px; 
    cursor: pointer;
}
