@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

.comment-card {
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.29);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em 3.5em;
    gap: 0.813rem;
    text-align: left;
    color: #000;
    margin-left: 1.2em;
}
  
.user-img {
    height: 5rem;
    width: auto;
    position: relative;
    border-radius: 0.2em;
    object-fit: cover;
}

.row-one {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.row-wrapper {
    justify-content: space-between;
    flex-direction: row;
}

.left-content-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
  
.left-content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem; /* Adjust the gap as needed */
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.313rem;
    padding-left: 1.2em;
}

.star {
    height: 2.125rem;
    padding-right: 0;
}

.comment-star {
    margin-left: auto;
    flex-direction: column;
}
  
.comment-card:hover {
    opacity: 0.9;
    box-shadow: 1px 1px 3px;
}
  
.username {
    color: black;
    font-weight: 550;
    font-size: larger;
}
  
.date {
    color: #8A8A8A; 
}