@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins';
}

.property-classfication {
    margin: 0;
    position: relative;
    text-transform: capitalize;
}

.heading,
.rental-details,
.property-details {
    display: flex;
    align-items: start;
    flex-wrap: wrap; 
    margin-top: 0.8em;
}

.rent-price {
    font-weight: 600;
    text-transform: capitalize;
}

.rent-unit {
    color: #717171;
    font-weight: normal;
}

.rent-breakdown,
.rent-price-unit-panel,
.property-details-breakdown,
.property-details {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap; /* Allow wrapping of elements */
}

.rent-breakdown,
.property-details-breakdown {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    flex-basis: 100%; /* Take full width */
}

.property-details-breakdown {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.property-address {
    align-self: start;
    position: relative;
    text-transform: capitalize;
    font-weight: normal;
    font-family: inherit;
    color: #1858d3;
}

.specs-grid {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
    gap: 2em;
    margin-top: 1em;
}

.icon-wrapper {
    display: flex;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    padding: 0 1.6rem;
    text-align: center; 
    width: fit-content;
}

.icon {
    height: 4rem;
    width: auto;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-bottom: 0.5em;
}

.facility-text {
  font-size: 0.7em;
  text-transform: capitalize;
  font-weight: normal;
}

  .specs-row-two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.875rem 0 0.906rem;
  }
  .high-rise {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    min-width: 6.188rem;
  }
  .specs-row-one {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.063rem;
  }
  .square-icon {
    height: 3.375rem;
    width: 3.563rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .square-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.813rem;
  }
  .sqft {
    align-self: stretch;
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    min-width: 5.188rem;
  }
  .specs-row-one1 {
    width: 5.188rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.438rem;
    text-align: center;
  }
  .bed-icon {
    height: 4.375rem;
    width: 4.813rem;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .bed-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0.875rem;
  }
  .bedroom {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    display: inline-block;
    min-width: 6.563rem;
  }
  .specs-row-one2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.438rem;
  }


  .separator-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    margin-top: -0.062rem;
  }
  .description,
  .lets-grab-this {
    margin: 0;
    position: relative;
    font-family: inherit;
  }
  .description {
    width: 14.813rem;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: 600;
    display: inline-block;
  }
  .lets-grab-this {
    align-self: stretch;
    font-size: 1.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
  }
  .description-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.125rem;
    max-width: 100%;
  }
  
.property-description,
.property-details {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }

  .security-24-hr {
    align-self: stretch;
    font-size: 1.75rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
  }

  .accessibility1 {
    margin: 0;
    width: 16.563rem;
    position: relative;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
  }
  .seventeen-mall-,
  .t815-bus-stop {
    margin-block-start: 0;
    margin-block-end: 1.5px;
  }
  .mrt-tiara-damansara {
    margin: 0;
  }
  .t815-bus-stop-container {
    margin: 0;
    position: relative;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.7);
  }
  .accessibility {
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
    text-align: left;
  }
  .accessibility,
  .amenities,
  .facilities-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .facilities-parent {
    width: 35.875rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.625rem;
  }
  .amenities {
    width: 47.375rem;
    flex-direction: row;
    justify-content: center;
    padding: 0 1.25rem;
    box-sizing: border-box;
    font-size: 2rem;
  }
  .status-panel-child {
    height: 6.563rem;
    width: 90rem;
    position: relative;
    background-color: #ffe6d0;
    display: none;
    max-width: 100%;
  }
  .pending-for-action {
    margin: 0;
    height: 3.625rem;
    width: 47.625rem;
    position: relative;
    font-size: inherit;
    text-transform: capitalize;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    flex-shrink: 0;
    max-width: 100%;
    z-index: 1;
  }

.details-panel,
.rental-details,
.status-panel {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
}

  .status-panel {
    background-color: #ffe6d0;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.625rem 18.688rem 1.313rem;
    box-sizing: border-box;
    color: #ff5c00;
  }
  .details-panel,
  .rental-details {
    flex-direction: column;
    justify-content: flex-start;
  }
  .rental-details {
    gap: 2.313rem;
    font-size: 2.25rem;
    color: #000;
  }
  .details-panel {
    padding: 0 0 0.938rem;
    box-sizing: border-box;
    gap: 4.5rem;
    text-align: center;
    font-size: 1.75rem;
    color: rgba(47, 47, 47, 0.76);
    font-family: Poppins;
  }